"*":
  editor:
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    softTabs: false
    tabLength: 4
    scrollPastEnd: true
  "tree-view":
    hideVcsIgnoredFiles: true
    hideIgnoredNames: true
  linter:
    showErrorInline: false
    statusBar: "Show error if the cursor is in range"
