"*":
  "atom-ternjs": {}
  "atom-typescript": {}
  "autocomplete-python":
    useKite: false
  core:
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softTabs: false
    tabLength: 4
  linter: {}
  "linter-eslint":
    disableWhenNoEslintConfig: true
  "linter-flow": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
