"*":
  editor:
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    softTabs: false
    tabLength: 4
    scrollPastEnd: true
  "tree-view":
    hideVcsIgnoredFiles: true
    hideIgnoredNames: true
  linter:
    inlineTooltipInterval: 1000
    showErrorPanel: false
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "atom-ternjs": {}
  core: {}
